# FOR: Passing environment-specific, sensitive values to your application.
# REQ: When creating additional environment variables, update the schema in "~/env.js" accordingly.
# TIP: Copy/paste the contents of this file into the first environment variable field in Vercel, and the rest of the fields will populate automatically.

# SEC: General

# FOR: Referencing your base URL throughout the application.
# HOW: Set this to the entry point of your app (the full root URL).
# TIP: In most cases, you can leave this blank. It will default to your localhost URL, and will be overridden in production by the `VERCEL_URL` environment variable.
BASE_URL=""

# SEC: Database

# FOR: Your PlanetScale database connection (with a Drizzle configuration).
# HOW: Requires you to select the "Prisma" connection in PlanetScale. Change the query params at the end of the URL to "?ssl={"rejectUnauthorized":true}". Alternatively, you can use the "Drizzle" connection option, and copy your username, password, and database name into the template below.
# TIP: This URL uses the "optimized" database endpoint, which is reccomended for the lowest latency.
DATABASE_URL='mysql://USERNAME:PASSWORD@aws.connect.psdb.cloud/DATABASENAME?ssl={"rejectUnauthorized":true}'

# SEC: Authentication

# FOR: Auth.js to use when hashing tokens, signing/encrypting cookies, and generating cryptographic keys.
# HOW: You can generate a new secret with the command line using `openssl rand -base64 32`, or with the link provided.
# REF: https://generate-secret.vercel.app/32
# SEE: https://next-auth.js.org/configuration/options#secret
NEXTAUTH_SECRET=""

# SEC: Email

# FOR: Authenticating requests sent to the Resend API.
# HOW: Navigate to the "API Keys" tab in your Resend dashboard and click "Create API Key".
# REF: https://resend.com/api-keys
RESEND_SECRET=""

# SEC: Miscellaneous

# FOR: Making requests to the OpenAI API.
# HOW: Navigate to the "API keys" tab in your OpenAI dashboard and click "Create new secret key".
# REF: https://platform.openai.com/api-keys
OPENAI_SECRET=""
