# @file Prevents sensitive or unwanted files from being committed to source control.
# @author Riley Barabash <riley@rileybarabash.com>
# @see https://help.github.com/articles/ignoring-files/

# SEC: Environment
# TIP: Committing .env files to git is bad practice and not recommended. Only commit a env.example file.
# SEE: https://create.t3.gg/en/usage/env-variables#using-environment-variables

.env
.env*.local
.vercel

# SEC: Dependencies

.pnp
.pnp.js
node_modules

# SEC: Debug

.pnpm-debug.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# SEC: Testing

*.test.ts
coverage

# SEC: Build

.next
*.tsbuildinfo
build
dist
next-env.d.ts
out

# SEC: Miscellaneous

.DS_Store
*.pem